/* Dark Mode (Default) */
body.dark-theme {
  --bg-color: #000;
  --text-color: #fff;
  --highlight: #00ff66;
}

/* Light Mode */
body.light-theme {
  --bg-color: #fff;
  --text-color: #111;
  --highlight: #007f33;
}

body {
  margin: 0;
  font-family: "Orbitron", Arial, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}
